/lib
/include
/etc
/bin
/sbin
/phpmyadmin
/share
/temp
/modules
/manual
/info
/build
/man
/var
/docs
/licenses
/cgi-bin
/error
/proftd
/php
/pear
/libexec
/lib64
/apache2
/img
/icons
/logs
/htdocs/dashboard
/htdocs/img
htdocs/applications.html
htdocs/bitnami.css
htdocs/favicon.ico
htdocs/img/module_table_bottom.png
htdocs/img/module_table_top.png
uninstall.dat
properties.ini
ctlscript.sh
RELEASENOTES
THIRDPARTY
README-wsrep
README.md
uninstall
XAMPP
manager-linux-x64.run
xampp
lampp
